.wrapper {
  background-color: #707070;
  height: 1px;
  margin: 32px 0 0;
  text-align: center;


  span {
    position: relative;
    top: -8px;
    padding: 0 15px;
    color: #707070;
    background: #ffffff;
  }
}
